<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/addQuestion.css?v=<%= Date.now() %>">
    </head>
    <body>
        <div id="form-div">
            <h2>Please add your questions via the form provided below:</h2>
            <form action="/questions" method="POST">
                <p>Email of Collaborator <br>
                <input type="email" name="email" required>
                </p>
                <p>
                    Subject:<br>
                    <select name="subject" required>
                        <option value="mathematics">Mathematics</option>
                        <option value="english-language">English Language</option>
                        <option value="chemistry">Chemistry</option>
                        <option value="government">Government</option>
                        <option value="biology">Biology</option>
                        <option value="physics">Physics</option>
                        <option value="literature-in-english">Literature-In-English</option>
                        <option value="economics">Economics</option>
                        <option value="commerce">Commerce</option>
                        <option value="agriculture">Agriculture</option>
                        <option value="christian-religious-studies">Christian Religious Studies</option>
                        <option value="islamic-religious-studies">Islamic Religious Studies</option>
                        <option value="geography">Geography</option>
                    </select>
                </p>
                <p>Topic Related To Question: <br>
                    <input type="text" name="topic" required>                    
                </p>
                <p>Question: <br>
                    <textarea name="question" required></textarea>
                </p>
    
    
                <p>Option A: <br>
                    <input type="text" name="optionA" required>                    
                </p>
                <p>Option B: <br>
                    <input type="text" name="optionB" required>  
                </p>
                <p>Option C: <br>
                    <input type="text" name="optionC" required>  
                </p>
                <p>Option D: <br>
                    <input type="text" name="optionD" required>  
                </p>
                
                <p>Correct Option: <br>
                    <select name="correctOption"  required>
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                        <option value="D">D</option>
                    </select>
                </p>
                    
                <p>Explanation of Solution: <br>
                    <textarea name="explanation" required></textarea>
                </p>
                <button type="submit">Add Question</button>
    
            </form>
        </div>
    </body>
</html>