body {
    display: flex;
    background-color: darkgreen;
    height: 100vh;
    width: 100vw;
    margin: 0px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

h2 {
    margin: 0px;
}

#form-div {
    overflow-y: auto;
    background-color: white;
    width: 70%;
    height: 90%;
    padding: 40px;
    box-sizing: border-box;
    border-radius: 10px;
}

p {
    font-size: 18px;
    font-weight: bold;
}

select, input {
    border: none;
    padding: 10px;
    height: 40px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #E9FCE9;
    margin-top: 5px;
    font-size: 16px;

}

textarea[name='question'] {
    border: none;
    height: 80px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #E9FCE9;
    margin-top: 5px;
}

textarea[name='explanation'] {
    border: none;
    height: 200px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #E9FCE9;
    margin-top: 5px;
}

button {
    border: none;
    height: 40px;
    width: 100%;
    margin: 0px;
    background-color: darkgreen;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

@media only screen and (max-width: 768px) {

    body { 
        padding: 20px;
    }
    #form-div {
        height: 100%;
        width: 100%;
    }
    
}